.highlight
  margin-bottom 20px
  overflow-x auto
  color #fff
  width auto
  margin 1rem calc(0rem - var(--space))

  *
    background #20232a !important

  table
    border-radius 0

  pre
    margin-bottom 0
    padding-left var(--space)
    white-space pre-wrap
    word-spacing normal
    word-wrap normal
    line-height 1.5
    -moz-tab-size 2
    -o-tab-size 2
    tab-size 2
    -webkit-hyphens none
    -ms-hyphens none
    hyphens none

  .quote
  .comment
    color #708090
    font-style italic

  .subst
  .keyword
  .meta-keyword
  .selector-tag
    color #66d9ef

  .attr
  .variable
  .selector-attr
  .selector-pseudo
  .template-variable
    color #ffc289


  .doctag
  .string
  .addition
  .attribute
  .meta-string
    color #a6e22e

  .type
  .title
  .section
  .selector-id
    color #fff488


  .link
  .regexp
    color #009926

  .bullet
  .symbol
    color #990073

  .built_in
  .builtin-name
    color #e6c07b

  .name
  .deletion
    color #fc7d87

  .meta
    color #f92672

  .number
    color #ae81ff

  .literal
    color #56b6c2

  .emphasis
    font-style italic

  .strong
    font-weight 700
