.highlight
  display block
  overflow-x auto
  color #fff

  *
    background #20232a !important

  .quote
  .comment
    color #708090
    font-style italic

  .subst
  .keyword
  .meta-keyword
  .selector-tag
    color #66d9ef

  .attr
  .variable
  .selector-attr
  .selector-pseudo
  .template-variable
    color #ffc289


  .doctag
  .string
  .addition
  .attribute
  .meta-string
    color #a6e22e

  .type
  .title
  .section
  .selector-id
    color #fff488


  .link
  .regexp
    color #009926

  .bullet
  .symbol
    color #990073

  .built_in
  .builtin-name
    color #e6c07b

  .name
  .deletion
    color #fc7d87

  .meta
    color #f92672

  .number
    color #ae81ff

  .literal
    color #56b6c2

  .emphasis
    font-style italic

  .strong
    font-weight 700
