.logo 
  display inline-block
  margin-right 5px
  line-height 36px
  vertical-align top
  color #f35626
  background-image linear-gradient(92deg,#f35626 0,#feab3a 100%)
  -webkit-background-clip text
  background-clip text
  -webkit-text-fill-color transparent
  animation hue 2s infinite linear
  font-size 26px
  vertical-align -1px
  font-weight 700