@font-face
  font-family "Cascadia"
  src url('https://cdn.jsdelivr.net/gh/Royce2019/BlogSource/fonts/Cascadia.ttf')

*
  font-family 'Cascadia', 'Noto Serif SC', serif !important

code
  font-size 100% !important

.markdown-body
  color #333 !important

body 
  overflow-x hidden

.slideshow
  position absolute
  width 100vw
  height 100vh

  .slideshow-image
    position fixed
    background-size cover
    width 100%
    height 100%
    background repeat 50% 50%
    animation-name kenburns
    animation-timing-function linear
    animation-iteration-count infinite
    animation-duration 24s
    opacity 1
    transform scale(1.2)
    filter brightness(70%)

    &:nth-child(1){-webkit-animation-name: kenburns-1; animation-name: kenburns-1; z-index: -2;}
    &:nth-child(2){-webkit-animation-name: kenburns-2; animation-name: kenburns-2; z-index: -3;}
    &:nth-child(3){-webkit-animation-name: kenburns-3; animation-name: kenburns-3; z-index: -4;}
    &:nth-child(4){-webkit-animation-name: kenburns-4; animation-name: kenburns-4; z-index: -5;}

@keyframes kenburns-1{0%{opacity: 1; -webkit-transform: scale(1.2); transform: scale(1.2);} 1.5625%{opacity: 1;} 23.4375%{opacity: 1;} 26.5625%{opacity: 0; -webkit-transform: scale(1); transform: scale(1);} 100%{opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2);} 98.4375%{opacity: 0; -webkit-transform: scale(1.21176); transform: scale(1.21176);} 100%{opacity: 1;}}
@keyframes kenburns-2{23.4375%{opacity: 1; -webkit-transform: scale(1.2); transform: scale(1.2);} 26.5625%{opacity: 1;} 48.4375%{opacity: 1;} 51.5625%{opacity: 0; -webkit-transform: scale(1); transform: scale(1);} 100%{opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2);}}
@keyframes kenburns-3{48.4375%{opacity: 1; -webkit-transform: scale(1.2); transform: scale(1.2);} 51.5625%{opacity: 1;} 73.4375%{opacity: 1;} 76.5625%{opacity: 0; -webkit-transform: scale(1); transform: scale(1);} 100%{opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2);}}
@keyframes kenburns-4{73.4375%{opacity: 1; -webkit-transform: scale(1.2); transform: scale(1.2);} 76.5625%{opacity: 1;} 98.4375%{opacity: 1;} 100%{opacity: 0; -webkit-transform: scale(1); transform: scale(1);}}

#board
  margin-top 0

.tocbot-list a
#toc, footer, footer a
  color #ffffff

footer a:hover
.tocbot-active-link
  color #1abc9c !important

.index-img img
  transition .4s

.index-card:hover .index-img img
  box-shadow 0 5px 11px 0 rgba(0,0,0,0.62), 0 4px 15px 0 rgba(0,0,0,0.65)

#gradient
  color #f35626
  background-image linear-gradient(92deg,#f35626 0,#feab3a 100%)
  -webkit-background-clip text
  background-clip text
  -webkit-text-fill-color transparent
  text-fill-color transparent
  font-weight 800

@media (min-width:768px) 
  .post-content 
    h1, h2, h3, h4
      &::before
        visibility visible
        display inline

    h1::before
      content "🌈"
    h2::before
      content "🚀"
    h3::before
      content "🔍"
    h4::before
      content "⛅"

/*侧边滚动条*/
::-webkit-scrollbar-button
  display none

::-webkit-scrollbar
  width 10px
  height 10px
  background-color #2f415452

::-webkit-scrollbar-thumb
  border-radius 5px
  background-color #2f4154
  background-image -webkit-linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent)

  &:hover
    background-color #2f4154b8

/* 按钮样式 */
.BoxButton
  display block
  position relative
  width:fit-content
  width:-webkit-fit-content
  width:-moz-fit-content
  line-height 2
  padding 0 0.75rem
  margin-top 25px
  background #FF5E65 !important
  border-radius 0.25rem
  text-decoration none !important
  color #fff !important
  transition background .75s ease
  overflow hidden
  -webkit-box-shadow 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
  box-shadow 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)

  &:hover
    background #332F63 !important
    color #fff !important

    &::before
      transform translateX(250px) rotate(45deg)

  &::before
    content ''
    position absolute
    left 0
    width 15px
    height 100px
    bottom -25px
    background #fff
    border 2px solid #fff
    transition transform .75s ease
    transform translateX(-50px) rotate(45deg)

.icon
  width 1.5em
  height 1.5em

/* 切换按钮 */
#dark
  cursor pointer
  position fixed
  right 6px
  bottom 4rem
  width 3rem
  z-index 1050
  font-size 20px

/*暗黑模式*/
.dark
  /* 背景遮罩 */
  .slideshow-image
    filter brightness(30%)

  /* 主体 */
  #board 
    background-color #282c34
    color #a09c9c
  
  img  
    filter brightness(50%)

  p, .index-card a, .post-meta:not(.iconfont)
    color #a09c9c

  a
    color #718096

  .markdown-body
    h1, h2, h3, h4, h5, h6, s, li  
      color:#a09c9c !important

  .hover-with-bg:hover
    background-color #24282F

  /* 顶栏 */
  .navbar-col-show
  .top-nav-collapse  
    background-color #282c34
    
  .navbar a  
    color #a09c9c
    
  .animated-icon span   /* 手机端 */
    background-color #a09c9c

  /* page-number */
  .pagination 
    .current, a:hover
      background-color #6b6b6b73

  /* 打字机 */
  #subtitle
  .scroll-down-arrow
  .dark.typed-cursor--blink
    color #dfdfdf

  /* back to top */
  #scroll-top-button
    background-color #282c34

    i
      color #a09c9c 

  /* Toc */
  .tocbot-list a
    color #a09c9c

  .tocbot-active-link
  footer a:hover
    color #1abc9c !important

  /* footer */
  footer, footer a
    color #a09c9c
 
  /* 归档页 */
  .list-group-item
    color #a09c9c
    background-color #282c34
    
    &:hover
      background-color #46484d

  /* 标签页 */
  .tagcloud a:hover
    background-color #46484d

  /* 友链页 */
  .links
    .card  
      background-color #282c34
      
    .card-body:hover  
      background-color #46484d
      
    .link-title, .link-intro  
      color #a09c9c

  /* note */
  .note-info
    background-color #3b5359
    border-color #006d80

  .note-danger
    background-color #783f42
    border-color #670009

  .note-success
    background-color #2a3e2e
    border-color #005915

  .note-warning
    background-color #5b543e
    border-color #846500

  .note-primary
    background-color #455a6f
    border-color #004188

  /* Valine */
  div#comments
    *
      background-color #282c34

    input, textarea
      color #a09c9c !important

  .hbe-input-container 
    input
      background #282C34
      border-bottom 1px solid #a09c9c

    label
      color #a09c9c