// Custom styles
*{margin:0; padding:0;}
body {
	overflow-x: hidden;
}
.slideshow-image{
	position: fixed; 
	background-size: cover;
	width: 100%; height: 100%; 
	background: repeat 50% 50%; 
	animation-name: kenburns;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 24s; opacity: 1;
	transform: scale(1.2);
}
.slideshow{position: absolute; width: 100vw; height: 100vh; overflow: hidden;}
.slideshow-image:nth-child(1){-webkit-animation-name: kenburns-1; animation-name: kenburns-1; z-index: -2;}
.slideshow-image:nth-child(2){-webkit-animation-name: kenburns-2; animation-name: kenburns-2; z-index: -3;}
.slideshow-image:nth-child(3){-webkit-animation-name: kenburns-3; animation-name: kenburns-3; z-index: -4;}
.slideshow-image:nth-child(4){-webkit-animation-name: kenburns-4; animation-name: kenburns-4; z-index: -5;}
@keyframes kenburns-1{0%{opacity: 1; -webkit-transform: scale(1.2); transform: scale(1.2);} 1.5625%{opacity: 1;} 23.4375%{opacity: 1;} 26.5625%{opacity: 0; -webkit-transform: scale(1); transform: scale(1);} 100%{opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2);} 98.4375%{opacity: 0; -webkit-transform: scale(1.21176); transform: scale(1.21176);} 100%{opacity: 1;}}
@keyframes kenburns-2{23.4375%{opacity: 1; -webkit-transform: scale(1.2); transform: scale(1.2);} 26.5625%{opacity: 1;} 48.4375%{opacity: 1;} 51.5625%{opacity: 0; -webkit-transform: scale(1); transform: scale(1);} 100%{opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2);}}
@keyframes kenburns-3{48.4375%{opacity: 1; -webkit-transform: scale(1.2); transform: scale(1.2);} 51.5625%{opacity: 1;} 73.4375%{opacity: 1;} 76.5625%{opacity: 0; -webkit-transform: scale(1); transform: scale(1);} 100%{opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2);}}
@keyframes kenburns-4{73.4375%{opacity: 1; -webkit-transform: scale(1.2); transform: scale(1.2);} 76.5625%{opacity: 1;} 98.4375%{opacity: 1;} 100%{opacity: 0; -webkit-transform: scale(1); transform: scale(1);}}

.rgba-black-light, .rgba-black-light:after{
	background-color: rgba(0,0,0,0);
}
.rgba-black-light:after{
	z-index: -1;
	content: "";
	position: fixed;
	top: 0;	left: 0;
    width: 100%; height: 100%;
	background-color: rgba(0,0,0,.3);
}
#toc, .tocbot-link, .py-3, .py-3 a{
    color: #ffffffd6;
}

.v .vbtn {
	border: 0px!important;
	color: white!important;
	background: #2f4154!important;
}
.v .vbtn:active, .v .vbtn:hover {
	background: #4d6681cc !important;
}

.v .vlist .vcard .vh .vmeta .vat {
    color: #2f4154 !important;
}
.v .vlist .vcard .vhead .vsys {
	background: #ededed00 !important;
}
.vemojis img {
	width: 35px;
	height 35px;
}

.index-img {
	transition: .4s;
	box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.index-card:hover .index-img {
	transform: scale(1.1);
	    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.38), 0 4px 15px 0 rgba(0,0,0,0.35);
}
.scroll-top-arrow {
    color: #2f4154;
}
#scroll-top-button {
	border-radius: 100%;
	transition: all .6s ease;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
}
#scroll-top-button:hover {
	transform: scale(1.2);
    border-radius: 20%;
}
/*修改h1前面图标*/
.post-content h1:before{
    // top: 10px;
    // width: 18px;
    // height: 18px;
    content: "🌈";
    // font-size: 18px;
    // line-height: 18px;
    // margin-right: 16px;
    visibility: visible;
	display: inline;
}

/*修改h2前面图标*/
.post-content h2:before{
    // top: 10px;
    // width: 18px;
    // height: 18px;
    content: "🔍";
    // font: normal normal normal 14px/1 FontAwesome;
    // font-size: 18px;
    // line-height: 18px;
    // margin-right: 16px
	visibility: visible;
	display: inline;
}

/*修改h3前面图标*/
.post-content h3:before{
    // top: 10px;
    // width: 18px;
    // height: 18px;
    content: "🌞";
    // font: normal normal normal 14px/1 FontAwesome;
    // font-size: 18px;
    // line-height: 18px;
    // margin-right: 16px;
	visibility: visible;
	display: inline;
}

/* 4~6级标题前置设置 */
// .posts-expand .post-body h4:before,
// .posts-expand .post-body h5:before
// .posts-expand .post-body h6:before{
//     // top: 10px;
//     // width: 18px;
//     // height: 18px;
//     // font-size: 18px;
//     // line-height: 18px;
//     // margin-right: 18px;    
// }
// .note {
//     position: relative;
//     padding: 15px;
//     margin-top: 10px
//     margin-bottom: 10px;
//     border: initial;
//     border-left: 3px solid #eee;
//     background-color: #f9f9f9;
//     border-radius: 3px;
// 	padding-left: 45px;
// }
// .note:not(.no-icon):before {
//     position: absolute;
//     font-family: FontAwesome;
//     font-size: larger;
//     top: 13px;
//     left: 15px;
// }
// /*warning样式*/
// .note-warning {
//     background-color: #fdf8ea;
//     border-left-color: #f0ad4e;
// }

// .note-warning:before {
//     content: "";
// }


// /*success样式*/
// .note-success {
//     background-color: #eff8f0;
//     border-left-color: #5cb85c;
// }

// /*info样式*/
// .note-info {
//     background-color: #eef7fa;
//     border-left-color: #428bca;
// }

// /*primary样式*/
// .note-primary {
//     background-color: #f5f0fa;
//     border-left-color: #6f42c1;
// }

// /*danger样式*/
// .note-danger {
//     background-color: #fcf1f2;
//     border-left-color: #d9534f;
// }

/*更好的侧边滚动条*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-button:start:increment,::-webkit-scrollbar-button:end:decrement {
  display: none;
}
::-webkit-scrollbar-corner {
  display: block;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0,0,0,.2);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  background-color: rgba(0,0,0,.5);
}
::-webkit-scrollbar-track,::-webkit-scrollbar-thumb {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
::-webkit-scrollbar-track:hover {
  background-color: rgba(0,0,0,.15);
}
::-webkit-scrollbar-button:start {
  width: 10px;
  height: 10px;
}