<br><br>
<div class="markdown-body">
  <div class="text-center">
    <a class="btn" id="valine-btn">Valine</a>
    <a class="btn" id="utterances-btn">Utterances</a>
  </div>
</div>
<div class="comments valine" id="comments">
  <%- partial('comments/valine') %>
</div>
<div class="comments utterances" id="comments" style="display: none;">
  <%- partial('comments/utterances') %>
</div>
