<footer class="mt-5">
  <div class="text-center py-3">
    <a href="https://hexo.io" target="_blank"><span>Hexo</span></a>
    <i class="iconfont icon-love"></i>
    <a href="https://github.com/fluid-dev/hexo-theme-fluid" target="_blank">
      <span>Fluid</span></a>
    <br>

    <%- partial('_partial/beian.ejs') %>

    <!-- cnzz Analytics icon -->
    <% if(theme.web_analytics.cnzz) { %>
      <span id="cnzz_stat_icon_<%- theme.web_analytics.cnzz %>" style="display: none"></span>
    <% } %>
    <%- partial('_partial/busuanzi.ejs') %>
    
    <a href="https://www.upyun.com/"><img src="//cdn.jsdelivr.net/gh/Royce2019/BlogSource/upyun.webp" style="width:4.6875rem"></a>
    <a href="https://myssl.com/seal/detail?domain=royce2003.top"><img src="//cdn.jsdelivr.net/gh/Royce2019/BlogSource/myssl.webp" style="width:4.6875rem"></a>
  </div>
  

</footer>

<!-- SCRIPTS -->
<%- partial('_partial/scripts.ejs') %>
