.links
    margin-bottom: 2rem 

.links::after 
    content: " " 
    display: block 
    clear: both 

.link_card 
    width: 300px 
    font-size: 1rem 
    padding: 10px 20px 
    border-radius: 4px 
    transition-duration: 0.25s
    display:flex
    margin: 20px 7px
    width: calc(100% / 3 - 14px)
    line-height: 17px

.link_card img
	width: 44px
	height: 44px
	margin:5px
	margin-right: 1em
	border-radius:25px 
	transition-duration: 0.25s

.link_card:nth-child(odd) 
    float: left 

.link_card:nth-child(even) 
    float: right

.link_card:hover 
    transform: scale(1.1) 
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2), 0 0 6px 0 rgba(0, 0, 0, .2) 

.link_card:hover img
    transform: scale(1.15) rotate(12deg) 
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 0 6px 0 rgba(0, 0, 0, 0.2) 

.link_card-header 
    overflow: hidden 
    width: 236px 
    margin-top: 10px 
	
.link_card-header a
	color: #2f4154 
	font-weight: bold 

.link_card-header a:hover
	color: #FF779A !important

.info
    color:#a3a3a3 
    font-size:14px 
    min-width: 0 
    text-overflow: ellipsis 
    overflow: hidden 
    white-space: nowrap 

@media (max-width: 767px)
    .link_card
        width: 90% 
        display: block 
        margin-left: 7%