// Custom styles
@media (max-width:767px)
  body, html
    font-size 16px

.about-name
.navbar-brand strong
  font-family Sriracha

.index-img img
  transition .4s

.index-card:hover .index-img img
  box-shadow 0 5px 11px 0 rgba(0,0,0,0.62), 0 4px 15px 0 rgba(0,0,0,0.65)

.post-meta > i
  margin-right -.3rem

/*侧边滚动条*/
::-webkit-scrollbar-button
  display none

::-webkit-scrollbar
  width 8px
  height 8px
  background-color #bac3cd

::-webkit-scrollbar-thumb
  background-color #2f4154

  &:hover
    background-color #576d84

.icon
  width 1.5em
  height 1.5em


/* 切换按钮 */
#dark
  display none

  i
    font-size 1.25rem
    color #EBA300

  &:hover
    background-color transparent

#mdark i
  position fixed
  right 2rem
  bottom 4rem
  font-size 1.75rem
  z-index 99
  color #EBA300

@media (min-width: 992px)
  #mdark
    display none
  #dark
    display block

/*暗黑模式*/
.dark
  background-color #282c34

  #dark, #mdark
    i
      color #757575

  /* 背景遮罩 */
  .mask
    background-color rgba(0,0,0,.7) !important
    // 打字机
    span
      color #a09c9c

  /* 主体 */
  #board 
    background-color #282c34
    color #a09c9c
  
  img  
    filter brightness(60%)

  p, .index-card a, .post-meta, .drop-cap
    color #a09c9c

  a
    color #718096

    &:hover
      color #12977d

  .post-meta .hover-with-bg
    &::before
      background #282C34

    &::after
      background #282C34

  .hover-with-bg:hover
    background-color #24282F

  /* 顶栏 */
  .nav-link, .navbar-brand
    color:#a09c9c !important

  .navbar-col-show, .top-nav-collapse
    background-color rgba(40, 44, 52, .8)

  .animated-icon span   /* 手机端 */
    background-color #a09c9c

  /* page-number */
  .pagination
    .current, a:hover
      background-color #6b6b6b73

  /* back to top */
  #scroll-top-button
    background-color #282c34

    i
      color #a09c9c 

  /* footer */
  footer, footer a
    color #a09c9c
