figure.highlight
  margin 1rem calc(0rem - var(--space))
  width auto

  table
    border-radius 0

  .code > pre
    padding-left var(--space)
    white-space pre-wrap
    word-spacing normal
    word-break normal
    word-wrap normal
    line-height 1.5
    -moz-tab-size 2
    -o-tab-size 2
    tab-size 2
    -webkit-hyphens none
    -ms-hyphens none
    hyphens none

  // .code
  //   padding-top 1.25rem

  // &::before
  //   content ' '
  //   position absolute
  //   background #fc625d
  //   border-radius 50%
  //   box-shadow 20px 0 #fdbc40, 40px 0 #35cd4b
  //   margin 10px 0 0 var(--space)
  //   height 12px
  //   width 12px

.logo__text
  font-weight 700

.cover__menus .cover-menu
  font-weight 500

.md-content a
  color #1abc9c

.cover__logo img
  border-radius 100%
  width 90px
  height 90px
