.logo__text
  font-weight 700

.cover__menus .cover-menu
  font-weight 500

.md-content a
  color #1abc9c

.cover__logo img
  border-radius 100%
  width 100px
  height 100px

code
  color #FF779A

  &::before
    content "`"

  &::after
    content "`"

mark
  background-color #FDF0B3

@media screen and (min-width: 765px)
  .header .header__right
    .cover__menus
      padding-right 50px

    #btn-toggle-dark
      position fixed
      z-index 1001
      right 40px
      top 18px

// Valine
.valine
  background-color var(--bg-color) !important
  box-shadow: none

  .col
  .more
  .vinputs-wrap *
    background-color var(--bg-color) !important

  p
    color var(--body-color) !important

  .vemoji-btn
    display none !important

  .vsubmit
    background-color var(--main-color) !important

  .vat
    color var(--bg-color) !important

  .vname
    color var(--title-color) !important

  .vcomment-body:hover .vat
    color #fff !important
