.logo__text
  font-weight 700

.cover__menus .cover-menu
  font-weight 500

.md-content a
  color #1abc9c

.cover__logo img
  border-radius 100%
  width 100px
  height 100px

code
  color #FF779A

  &::before
    content "`"

  &::after
    content "`"

mark
  background-color #FDF0B3

@media screen and (min-width: 765px)
  .header .header__right 
    .cover__menus
      padding-right 50px

    #btn-toggle-dark
      position fixed
      z-index 1001
      right 40px
      top 18px
