.list-title, .term-title, .list-year, .list-month,
article[data-type="about"] h1.post-title {
  font-family: 'Cinzel Decorative', 'Noto Serif SC', serif;
}

.nav {
  font-size: 1em;
  margin-top: 0.4em;
}

.brand {
  font-weight: bold;
  line-height: 1;
}
