<%
page.layout = "tools"
page.title = theme.tools.title || __('tools.title')
page.subtitle = theme.tools.subtitle || __('tools.subtitle')
page.banner_img = theme.tools.banner_img
page.banner_img_height = theme.tools.banner_img_height
page.banner_mask_alpha = theme.page404.banner_mask_alpha
%>

<div id="dowebok"></div>
<div class="row links">
	<% for(const each of theme.tools.items) { %>
	  <% if (!each.title || !each.link) continue %>
	  <div class="card col-lg-4 col-md-6 col-sm-12">
		<a href="https://<%= url_for(each.link) %>" class="card-body hover-with-bg" target="_blank" rel="noopener">
		  <div class="card-content">
			<div class="link-text">
			  <div class="link-title"><%- each.title %></div>
			  <div class="link-intro"><%- each.intro %></div>
			</div>
		  </div>
		</a>
	  </div>
	<% } %>
</div>