<%
page.layout = "tools"
page.title = theme.tools.title || __('tools.title')
page.subtitle = theme.tools.subtitle || __('tools.subtitle')
page.banner_img = theme.tools.banner_img
page.banner_img_height = theme.tools.banner_img_height
%>

<div id="dowebok"></div>
<div class="row links">
	<% for(const each in theme.tools.items) { %>
		<% var props = theme.tools.items[each] %>
		<% if (!props) continue %>
			<div class="card col-lg-4 col-md-6 col-sm-12">
				<a href="<%= url_for(props[0]) %>" class="card-body">
					<div class="card-content">
						<div class="link-text">
							<div class="link-title"><%- each %></div>
							<div class="link-intro"><%- props[1] %></div>
						</div>
					</div>
				</a>
			</div>
	<% } %>
</div>