<div class="row links">
	<% for(const each in theme.tools) { %>
		<% var props = theme.tools[each] %>
		<% if (!props) continue %>
			<div class="card col-lg-4 col-md-6 col-sm-12">
				<a href="<%= url_for(props[0]) %>" class="card-body">
					<div class="card-content">
						<div class="link-text">
							<div class="link-title"><%- each %></div>
							<div class="link-intro"><%- props[1] %></div>
						</div>
					</div>
				</a>
			</div>
	<% } %>
</div>